


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;1,100;1,300&display=swap');


pluto-output.rich_output  {
	font-variant-numeric: oldstyle-nums !important;
}

/* 
pluto-output.rich_output a {
	font-family: "Alegreya Sans", sans-serif;
	color: var(--mcs-color-links) !important;
	text-decoration: none;
	font-style: italic;
}
 */

:root {

	--troublered: #ff2600;
	--killerorange: #db5728;
	--wellhellothereorange: #f7800f;
	--addblue: #037db6;
    --ayustringgreen: #86b300;
	--onsomeothergreen: #439d00;
	--link-green: #008800;
    --biscayblue: #192b67;


	--mcs-font-size-base: 17px;
	--mcs-font-size-title-attribution: calc(var(--mcs-font-size-base) * 0.75);
	--mcs-color-title-attribution: var(--wellhellothereorange);
	--mcs-padding-bottom-title-text: calc(var(--mcs-font-size-title-attribution) * 0.35 + 0.5px);
	--mcs-color-title-text: var(--killerorange);
	--mcs-color-title-block-midrule: var(--wellhellothereorange);
	--mcs-color-appendix: var(--addblue);
	--mcs-color-links: var(--link-green);

}

.Vollkorn { font-family: Vollkorn serif; }

.font-style-normal { font-style: normal; }

.addblue { 
	color: var(--addblue);     
	fill: var(--addblue); 
}
.ayustringgreen { color: var(--ayustringgreen); fill: var(--ayustringgreen); }
.killerorange   { color: var(--killerorange);   fill: var(--killerorange);   }
.Killerorange   { background-color: var(--killerorange);}


.success {color: #00b800 !important;}
.danger  {color: #ff0026 !important;}


/* 

@media (prefers-color-scheme: dark) {
	img {
		filter: grayscale(40%) invert(1) hue-rotate(180deg) brightness(0.85) contrast(2) saturate(3);
	}
}
 */


/* h1 { color: var(--biscayblue) !important; } */
/* h2 { color: var(--addblue) !important;} */
/* h3 { color: var(--ayustringgreen) !important;} */

#attack {color: var(--wellhellothereorange);}
#finis  {color: var(--onsomeothergreen); font-weight:200!important;}
#appendix {
	color: #5e81ac;
	font-size: 1.6rem;
	border-bottom: none;
}




.mcs.title {
	color: var(--pluto-output-h-color);
	font-family: Vollkorn, serif;
	font-size: 2.2em;
	font-weight: 700;
	text-align: right;
	position: relative;
	/* padding-bottom: var(--mcs-padding-bottom-title-text); */
	padding-bottom: 0 !important;
	margin-block: 0 3rem !important;
	border-bottom-color: transparent;
	z-index: 1;
}
.mcs.title h1 {
	border-bottom-color: transparent !important;
	font-weight: 200 !important;
	letter-spacing: -0.025em;
	padding-bottom: 0 !important;
	margin-block: 0 !important;
	opacity: 0.85;
}

h2 {
	border: none !important;
}
.mcs.title p {
	line-height: initial;
}
.mcs.title .source {
	color: var(--pluto-output-color);
	text-align: right;
	position: absolute;
		right: 0;
		bottom: 0;
	white-space: normal;
	font-size: var(--mcs-font-size-title-attribution);
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 300;
	line-height: 1.15em !important;
	padding-left: 4px;
	border-top: 1px dotted var(--mcs-color-title-block-midrule);
	z-index: -1;
}


.MathJax {
	font-size: 16px;
	font-weight: 100 !important;
	letter-spacing: 4px !important;
	color: var(--pluto-output-color);
}
.hailmary {
	color: var(--pluto-output-color);
	fill: var(--pluto-output-color);
	stroke: var(--pluto-output-color);
}
	


.message {
	background-color: transparent !important;
	border-left: 3px solid;
	border-radius: 2px;
}

.message.found p {
	filter:blur(0.25em);
}
.message.found  {
	opacity: 0.2;
	filter:blur(0.1em);
}
.message.found:hover,
.message.found:hover * {
	filter:blur(0);
	opacity: 1;
}
.message.found,
.message.found *,
.message.found:hover,
.message.found:hover * {
	transition: all 0.5s linear;
}


blockquote.message {
	border-left: 3px solid;
   border-radius: 2px;
}
blockquote.message.success {
	color: #008800 !important;
	background-color: #68e3b6;
}



















